

<nav class="navbar mynav  navbar-expand-lg navbar-light bg-light px-5 py-3 ">
    <div class="container "><a class="navbar-brand text-white fw-bolder " routerLink="home" >START FRAMEWORK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto ">
           
            <li class="nav-item ">
              <a class="nav-link text-white fw-bolder" routerLinkActive="active rounded" routerLink="about"  >ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-bolder"routerLinkActive="active rounded" routerLink="portfolio" >PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fw-bolder" routerLinkActive="active rounded" routerLink="contact" >CONTACT</a>
              </li>
            
          </ul>
        </div></div>
  </nav>
